@import 'variables';

.btn_lang {
    position: fixed;
    bottom: $lengthMD;
    right: $lengthMD;
    z-index: 500;

    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    
    padding: 5px 12px;
    border: none;
    border-radius: $lengthXS;
    background: #fff;
    color: $font;
    
    cursor: pointer;
    box-shadow: 0 0 3px #00000033;
    
    &:hover {
        text-decoration: underline #000;
    }

    @media screen and (max-width: 480px) {
        right: $lengthSM;
        bottom: 50px;
    }

    @media screen and (min-width: 590px) and (max-width: 730px) {
        right: $lengthSM;
        bottom: 50px;
    }
}