<div class="filter">
  <input [(ngModel)]="filterValue" placeholder="{{ 'action.filter' | translate }}" name="filter">
  <img src="/assets/image/filter.svg">
</div>

<div class="users_list">
  <h3>{{ 'view.user_list' | translate }}</h3>
  <div class="total">
    {{ 'view.total_entries' | translate:{ 'number':users.length || '0' } }}
  </div>
  <div class="list">
    <span>{{ 'form.label.email' | translate }}</span>
    <ul>
      <li *ngFor="let user of (users | filter: { username: filterValue }) | paginate: { itemsPerPage: 5, currentPage: currentPage };">
        <p>{{user.username}}</p>
        <button (click)="openDeleteModal(user)">
          <img src="/assets/image/delete.svg">
        </button>
      </li>
    </ul>
    <pagination-controls (pageChange)="currentPage = $event" [previousLabel]="'view.previousLabel' | translate" [nextLabel]="'view.nextLabel' | translate"></pagination-controls>
  </div>
</div>

<app-modal (modalResult)="dismissDeleteModal($event)"></app-modal>