@import 'variables';

.users_list {
    display: grid;
    grid-template-columns: auto 180px;
    grid-template-rows: 48px auto;
    grid-gap: $lengthSM;
    padding: 0 $lengthLG $lengthLG;

    @media screen and (max-width: 756px) {
        padding: 0 $lengthSM $lengthSM;
    }

    h3 {
        grid-column: 1;
        grid-row: 1;
        text-transform: uppercase;
        align-self: center;
        font-size: 1rem;
    }

    .total {
        color: $muted;
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        text-align: center;
        border: 2px solid $medium;
        padding: $lengthXS $lengthSM;
    }

    .list {
        grid-column: 1 / 3;
        grid-row: 2;
        padding-top: $lengthSM;
        border-top: 2px solid $medium;

        span {
            display: block;
            text-transform: uppercase;
            color: $muted;
            font-size: .7rem;
            margin-left: $lengthXS;
            margin-bottom: $lengthXS;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: block;
                margin-bottom: 6px;
                background-color: $medium;

                display: grid;
                grid-template-columns: auto 48px;
                height: 48px;

                p {
                    font-weight: bold;
                    margin-left: $lengthSM;
                    align-self: center;
                }

                button {
                    border: none;
                    background-color: $danger;
                    text-align: center;
                    display: grid;
                    cursor: pointer;

                    img {
                        align-self: center;
                        width: 20px;
                        margin: auto;
                    }
                }
            }
        }
    }
}