@import 'variables';

.signup {

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto min-content;
        grid-gap: 0 $lengthSM;
        width: 552px;
        margin: 16px 0;

        .form_ {
            grid-column: 2;
            grid-row: 1 / 3;

            width: initial;
            margin: 0;
        }

        .info_ {
            grid-column: 1;
            grid-row: 1;

            display: block;
            text-align: left;
            color: $light;
            padding: 32px 32px 16px;
            background-color: $primary;
            border-radius: 12px 12px 0 0;

            h3 span, h3 b {
                font-size: 1.2rem;
            }

            h3 span {
                font-weight: lighter;
                color: $action;
            }

            h3 b {
                font-weight: bold;
                color: #fff;
            }
        }

        .footer_ {
            grid-column: 1;
            grid-row: 2;

            font-size: .8rem;
            background-color: #fff;
            border-radius: 0 0 16px 16px;
            padding: 12px;

            max-height: 24px;

            b, button {
                color: $muted;
                font-size: inherit;
            }

            b {
                font-weight: bold;
            }

            button {
                cursor: pointer;
                background: none;
                border: none;
                padding: 0;
                margin: 0;
                text-decoration: underline $medium;
            }
        }

        @media screen and (max-width: $mobile_width) {
            grid-template-columns: unset;
            grid-template-rows: unset; 
            grid-gap: $lengthSM;
            margin: 0;
            width: 286px;

            .info_, .footer_ {
                background-color: transparent;
                padding: 0 8px;
                text-align: center;
                
                * { 
                    color: $light!important;
                }
            }

            .info_ {
                p {
                    margin-top: 0;
                }

                h3 {
                    display: none;
                }
                grid-row: 1;
            }

            .form_ {
                grid-column: 1;
                grid-row: 2;
            }

            .footer_ {
                grid-row: 3;
            }
        }
    }
}