<div id="signup">

  <div class="signup">

    <!-- Signup form header -->
    <h1 class="logo">
      <img src="/assets/image/logo.svg" alt="isAuth">
    </h1>
    <p>{{ 'info.signup' | translate }}</p>

    <!-- signup form -->
    <section>

      <form class="form_" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>

        <!-- email input -->
        <input formControlName="email" placeholder="{{ 'form.placeholder.email' | translate }}" [ngClass]="{ 'is_invalid_top': submitted && f.email.errors }">

        <!-- password input -->
        <input formControlName="password" type="password" placeholder="{{ 'form.placeholder.passw' | translate }}"
          [ngClass]="{ 'is_invalid_bottom': submitted && f.password.errors }">

        <!-- submit button -->
        <button type="submit" class="submit">
          {{ 'action.signup' | translate }}
        </button>

        <div class="form_errors" *ngIf="submitted && (f.email.errors || f.password.errors)">

          <!-- email errors -->
          <span *ngIf="f.email.errors">
            <p *ngIf="f.email.errors.required">
              {{ 'form.label.email_req' | translate }}
            </p>
            <p *ngIf="f.email.errors.email || f.email.errors.pattern">
              {{ 'form.label.email_val' | translate }}
            </p>
          </span>

          <!-- password errors -->
          <span *ngIf="f.password.errors">
            <p *ngIf="f.password.errors.required">
              {{ 'form.label.passw_req' | translate }}
            </p>
            <p *ngIf="f.password.errors.minlength">
              {{ 'form.label.passw_val' | translate }}
            </p>
          </span>

        </div>

        <!-- signup form footer -->
        <small>
          <button (click)="openTermsModal()" type="button">
            {{ 'info.terms' | translate }}
          </button>
        </small>

      </form>

      <!-- signup info -->
      <div class="info_">
        <h3>
          <span>{{ 'action.sign' | translate }}</span>
          <b>{{ 'action.sign_up' | translate }}</b>
        </h3>

        <p>
          {{ 'info.signup_why' | translate }}
        </p>
      </div>

      <!-- signup footer -->
      <div class="footer_">
        <b>{{ 'info.wait' | translate }}&nbsp;</b>
        <button (click)="onNavigate('login')">
          {{ 'info.have_account' | translate }}
        </button>
      </div>

    </section>

  </div>

</div>

<app-modal></app-modal>