<div class="navigation">
  <h1 class="logo">
    <img src="/assets/image/logo.svg" alt="isAuth">
  </h1>

  <div class="user_panel_lg">
    {{ 'info.salutation_lg' | translate:{ 'name':user } }}
  </div>

  <div class="user_panel_sm">
    {{ 'info.salutation_sm' | translate:{ 'name':user } }}
  </div>

  <div class="info_panel">
    <p>{{ 'info.today' | translate }}</p>
    <div>{{ today | date:'dd/MM/yyyy' }}</div>
  </div>

  <button class="button logout" (click)="logout()">
    <span>{{ 'action.logout' | translate }}</span>
    <img src="/assets/image/logout.svg">
  </button>

</div>