@import 'variables';
@import '~ngx-toastr/toastr.css';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: $font;
}

p, a, b, li {
    font-weight: normal;
    font-size: .95rem;
}

a,
button,
textarea,
input {
    outline: none!important;
    -webkit-appearance: none;
    border-radius: 0;
}

/* GLOBALS */

.margin_bottom_xs {
    margin-bottom: $lengthXS;
}
.margin_bottom_sm {
    margin-bottom: $lengthSM;
}
.margin_bottom_md {
    margin-bottom: $lengthMD;
}
.margin_bottom_lg {
    margin-bottom: $lengthLG;
}
.margin_bottom_xl {
    margin-bottom: $lengthXL;
}

.margin_top_xs {
    margin-top: $lengthXS;
}
.margin_top_sm {
    margin-top: $lengthSM;
}
.margin_top_md {
    margin-top: $lengthMD;
}
.margin_top_lg {
    margin-top: $lengthLG;
}
.margin_top_xl {
    margin-top: $lengthXL;
}

.button {
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: $primary;
    padding: $lengthXS $lengthMD;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    letter-spacing: 0.02rem;
    &:hover {
        color: $primary;
        background-color: $action;
    }
    * {
        color: inherit;
    }
}

.truncate {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.is_invalid_top {
    border-bottom: 1px solid $danger!important;
}

.is_invalid_bottom {
    border-top: 1px solid $danger!important;
}

/* login and sign up background */
#login, #signup {
    position: relative;
    height: 100vh;
    background: $primary;

    background: #2fe0d1;
    background: -moz-radial-gradient(center, ellipse cover, #2fe0d1 0%, #60abf8 35%, #60abf8 35%, #2e4e67 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #2fe0d1 0%,#60abf8 35%,#60abf8 35%,#2e4e67 100%);
    background: radial-gradient(ellipse at center, #2fe0d1 0%,#60abf8 35%,#60abf8 35%,#2e4e67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fe0d1', endColorstr='#2e4e67',GradientType=1 );
}

/* login and sign up form */
.login, .signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;

    .logo {
        text-align: center;
        color: $action;
        img {
            width: 150px;
        }
    }

    p {
        font-size: .8rem;
        color: #fff;
        margin: $lengthSM 0;
    }

    small {
        
        p, button {
            font-size: .8rem;
            margin: 0;
            color: #fff;
        }

        button {
            cursor: pointer;
            font-weight: bold;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            text-decoration: underline $medium;
        }
    }

    .form_ {
        display: block;
        padding: 32px 32px 16px;
        background-color: white;
        border-radius: 12px;
        margin: 16px 0;
        position: relative;
        width: 204px;

        input {
            display: block;
            color: $secondaryBorder;
            width: calc(100% - 24px);
            padding: 10px 12px;
            border: 1px solid $light;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            margin-bottom: 2px;
            background-color: $light;
            &:first-child {
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &::placeholder {
                color: $primary;
            }
        }

        button.submit {
            margin-top: $lengthSM;
            background-color: $primary;
            padding: 10px 12px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 12px;
            width: 100%;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: $action;
            }
        }

        small {
            
            button {
                font-size: .8rem;
                margin-top: 16px;
                color: $muted;
            }
        }
    }

    .form_ {
        box-shadow: 0 0 36px rgba(20, 251, 232, .3);
    }

    .form_errors {
        margin-top: 12px;
        p {
            font-weight: normal;
            color: $danger;
            margin: 3px 0;
            font-size: .8rem;
        }
    }
}

/* dashboard layout */
app-dashboard {
    display: grid;
    grid-template-columns: 256px auto;
    grid-template-rows: minmax(calc(100vh - 60px), auto) 60px;
    
    background-color: $light;

    app-navigation {
        grid-column: 1;
        grid-row: 1 / 3;
        height: 100vh;
        background-color: $secondary;
        z-index: 100;

        // SIDEBAR FIXED
        position: fixed;
        top: 0;
        left: 0;
        width: 256px;
    }

    app-users {
        grid-column: 2;
        grid-row: 1;
        padding-right: $lengthXL;
    }

    app-footer {
        grid-column: 2;
        grid-row: 2;
    }

    @media screen and (max-width: $mobile_width) {
        
        grid-template-columns: unset;
        grid-template-rows: 60px minmax(calc(100vh - 120px), auto) 60px;

        app-navigation {
            grid-column: 1;
            grid-row: 1;
            height: auto;
            width: 100%;
        }
    
        app-users {
            grid-column: 1;
            grid-row: 2;
        }
    
        app-footer {
            grid-column: 1;
            grid-row: 3;
        }
    }

    @media screen and (max-width: 756px) {
        app-users {
            padding-right: 0;
        }
    }
}

/* filter */
.filter {
    position: relative;
    padding: $lengthLG $lengthLG $lengthSM;

    input {
        display: block;
        padding: 10px;
        font-size: .9rem;
        width: calc(100% - 20px);
        background: white;
        height: 20px;
        border: none;
        &::placeholder {
            color: $muted;
            font-weight: normal;
            text-transform: uppercase;
        }
    }

    img {
        position: absolute;
        top: 59px;
        right: 56px;
        width: 18px;
    }

    @media screen and (max-width: 756px) {
        padding: $lengthSM;
        img {
            top: 27px;
            right: 27px;
        }
    }
}

/* overwrites */

.ngx-pagination {
    max-width: 400px!important;
    margin: 20px auto!important;
    padding: 0!important;

    .current {
        background: $primary!important;
    }

    a, button {
        color: $font!important;
    }
}

.toast-top-center {
    top: 16px;
    * { 
        color: #fff!important;
    }
    .toast-message.ng-star-inserted {
        font-size: .75rem;
        margin-top: 4px;
    }
}
 
.toast-top-center > div {
    background-color: rgba(0,0,0,.6)!important;
    box-shadow: 0 0 12px rgba(0,0,0,.3)!important;
}