
/* colors */
$primary:         #2e4e67;
$secondary:       #1a222f;
$secondaryBorder: #171e2a;
$action:          #14fbe8;
$danger:          #ed3037;
$font:            #1a222f;
$muted:           #808080;
$medium:          #c1c1c1;
$light:           #e5e5e5;

/* layout */
$header: 100px;
$footer: 300px;
$content: calc(100vh - (52px + 300px + 144px));
$paddingTOP: 100px;

/* helpers */
$lengthXS: 8px;
$lengthSM: 16px;
$lengthMD: 32px;
$lengthLG: 48px;
$lengthXL: 64px;

/* break point */
$mobile_width: 590px;
