@import 'variables';

#modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    z-index: 5000;
    top: 0;
    right: 0;

    div {
        position: absolute;
        right: 50%;
        transform: translate(50%, 50%);
        background-color: #fff;
        padding: $lengthSM $lengthMD;
        border-radius: $lengthSM;
        box-shadow: 0 0 12px rgba(0,0,0,.3);
        
        bottom: 200%;
        transition: .3s;

        display: grid;
        width: 200px;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 18px 8px;

        h3 {
            grid-column: 1 / 4;
            grid-row: 1;
            margin: 0;
            color: $primary;
            text-align: center;
        }

        p {
            grid-column: 1 / 4;
            grid-row: 2;
            margin: 0;
            color: $font;
        }
        
        button {
            grid-column: 3;
            grid-row: 3;
            padding: 4px 18px;
            color: $muted;
            background: none;
            border: none;
            cursor: pointer;
        }

        button.outline {
            grid-column: 2;
            grid-row: 3;
            border: 2px solid $primary;
            border-radius: 8px;
            transition: .3s;
            color: $primary;
            background-color: #fff;
            &:hover {
                background-color: $primary;
                color: #fff;
            }
        }        
    }

    div.animation {
        bottom: 50%;
    }
}